@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #3F51B5;
    cursor: url(img/cur.png), default;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
.clear { clear: both }
a { color: white; text-decoration: underline; cursor: pointer;}
.button {
    border: 1px #fff solid;
    background-color: #2E40A4;
    display: inline-block;
    margin: 2.5px 9px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    width: calc(100% - 50px);
}
.button:hover {
    background-color: #3F51B5;
    border: 1px #2E40A4 solid;
}
@media screen and (min-height:351px), screen and (min-width:620px) {
    header { height: 50px!important; line-height: 50px!important }
    section { height: calc(100% - 50px) }
    #backButton, #refreshButton { width: 30px!important; margin-top: 10px!important }
    #title { font-size: 30px!important }
}
@media screen and (max-height: 310px) { #aSection, #bSection { zoom: 80%; }}
@media screen and (max-height: 500px) { #aButton,#bButton{margin-top:50px!important;}#clickToStart{top:50px!important;}}
@media screen and (max-width: 800px) { #clickToStart { font-size: 15px !important; line-height: 15px !important; padding: calc(25% - 6px) 0px !important; } }
@media screen and (max-width: 600px) { #clickToStart { font-size: 12px !important; line-height: 12px !important; padding: calc(25% - 6px) 0px !important; } }
@media screen and (orientation:portrait) {
    #bSection, #aSection { display: none }
    #portrait { display: block!important }
    .theSword { display: none!important }
	#refreshButton { display: none }
    #overlay { display: none!important }
}
#portrait { display: none }
header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #3F51B5;
	position: absolute;
	top: 0;
	left: 0;
}
#backButton, #refreshButton {
    width: 30px;
    margin-top: 5px;
	position: absolute;
	top: 0;
	z-index: 4;
}
#refreshButton {
	right: 0;
}
#backButton {
	left: 0;
}
@media screen and (orientation:landscape){#title{font-size: 25px;}}
#title {
    font-size: 25px;
	margin-top: 5px;
/*    float: left;*/
	text-align: center;
	position: relative;
	z-index: 3;
	font-weight:900
/*    margin-left: calc(50% - 75px)*/
}
section { width: 50%; height: 100%; float: left; position: relative;background-size: 300%;background-repeat: no-repeat; }
#bSection { background-color: #64DD17;;background-position: 0% 80% }
#aSection { background-color: #b30005;background-position: 50% 80% }
#aButton, #bButton, #clickToStart {
    width: 50%;
    padding: 25% 0px;
    background: #FFF 100%/cover no-repeat;
    margin-left: 25%;
}
#bButton, #aButton { margin-top: 15vh }
#clickToStart {
    position: absolute;
    top: 15vh;
    left: 25%;
    opacity: 0.8;
    background-color: #3F51B5;
    color: white;
    font-weight: 800;
    margin: 0px;
    font-size: 20px;
    padding: calc(25% - 10px) 0px;
    line-height: 20px;
}
#aHealth, #bHealth {
    width: 180px;
    height: 20px;
    margin: 0 calc(50% - 90px);
    background: #F44336;
    border: 4px #000 solid;
	position: relative;
}
#aHealthBar, #bHealthBar {
    width: 100%;
    height: 100%;
    background: #64DD17;
    transition: width 0.25s;
	position: absolute;
}
#aHealth p, #bHealth p {
	position: relative;
    margin: 0;
    top:  0;
    line-height: 20px;
	font-weight: 900;
}
#aName, #bName { margin: 5px 0;font-weight:900;display:inline-block;padding:5px }
#aName { background:#b30005}
#bName { background:#64DD17}
#overlay {
    display: none;
    background: #3F51B5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
	z-index: 10;
}
#overlay img, #overlayStats span {
    height: calc(20vh - 4px);
	width: calc(20vh - 4px);
	border-radius: 10vh;
    margin: 5px 0px;
	display: block;
	line-height: 20vh;
	border: 2px #fff solid;
}
#overlay h5 {
    height: 26.56px;
	display: inline-block;
	margin-right: 10vh;
	font-size: 5vh;
}
#overlayStats h5:last-child {
	margin-right: 0px;
}
#overlayStats {
	text-align: center
}
#overlay div:not(#restartText):not(#overlayText div):not(#overlayText) {
    top: calc(50% - 80px);
    font-size: 70px;
    position: absolute;
}
#overlay div:not(#restartText) {
    width: 100%;
}
#overlayText div:not(#overlayStats) {
    font-size: 100px;
    margin-top: 10px;
}
#restartText {
    font-size: 40px;
    background: #2E40A4;
    border-radius: 20px;
    position: absolute;
    margin: 0px auto;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 70%;
    border: 4px white solid;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
	clear: both;
}
@media screen and (max-height: 450px) {
    #overlay div:not(#overlayStats) { font-size: 32px !important; }
    #overlayText div:not(#overlayStats) { font-size: 75px !important; }
}
.theSword {
    display: none;
    position: absolute;
    background: 100%/cover no-repeat;
    width: 26vh;
    height: 13vh;
    animation-duration: 0.1s;
}
#bSword { left: calc(75% - 125px); top: 45vh }
#aSword {
    left: calc(25% + 125px); top: 20vh;
    transform: rotate(180deg)
}
@keyframes bSword { from { left: calc(50% - 50px) } to { left: calc(50% + 50px) } }
@keyframes aSword { from { left: calc(50% + 50px) } to { left: calc(50% - 50px) }}
#rotate { height: 80vw; width: 80vw; left: calc(50% - 89px) }
#portrait h3 { color: #fff }