@import 'https://fonts.googleapis.com/css?family=Syncopate';
			body, html {
				width: 100%;
				height: 100%;

				margin: 0px;

				background: #3F51B5;

				cursor: url(cur.png), default;
				text-transform: capitalize;
				text-align: center;
				font-family: 'Syncopate', sans-serif;
			}

			red { color: #F00; }
			green { color: #64DD17; }

			header {
				width: 100%;
				height: 25px;

				margin: 20px 0px;

				line-height: 25px;
				background: #3F51B5;
			}
			div:not(#title):not(.clear) {
				/*height: 100px;*/
				background: #2E40A4;
				/*line-height: 100px;*/
				vertical-align: middle;
				text-align: center;
				font-size: 80%;
			}
			a:not(.text) {
				float: left;
				text-decoration: none !important;
				width: 43%;
				margin: 1%;
				padding: 0px 2.5%;
			}
			a { color: white; text-decoration: underline;}
			.full {
			    width: 80% !important;
				margin: 5% !important;
				padding: 2.5% 5% !important;
			}
			.clear { clear: both; }
			#title { font-size: 30px; }