@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
	height: 100%;
	margin: 0px;
	text-align: center;
	font-family: 'Syncopate', sans-serif;
	user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    color: #fff;
    background: #b30005 url('img/landing.svg') 0px/cover;
}
.button {
	border: 8px #2E40A4 solid;
	background-color: #fff;
    margin: 3px;
    cursor: pointer;
    width: calc(50% - 42px);
    color: #2E40A4;
    font-weight: 800;
	padding: 5vh 8px;
}
.button, header { display: inline-block }
main, body, html { width: 100% }
.button:not(.big) { font-size: 3.7vw}
@media screen and (orientation: portrait) { .button:not(.big) { font-size:6vw !important}}
@media screen and (orientation: portrait) { .big { font-size:12vw !important}}
.full { width: calc(100% - 42px) }
.big { font-size: 6vw; }
main {
	max-width: 800px;
	margin: auto;
}
@media screen and (min-height: 540px) and (max-height: 599px) and (orientation: portrait) {
	main { max-width: 300px; }
}
@media screen and (min-height: 300px) and (max-height: 440px) and (orientation: landscape) {
    main { max-width: 70vw; }
}
@media screen and (min-height: 600px) and (max-width: 1024px) and (orientation: landscape) {
	main { max-width: 90vw; }
}
header {
	font-size: 45px;
	background-color: #b30005;
}