@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
	height: 100%;
	margin: 0px;
	text-align: center;
	font-family: 'Syncopate', sans-serif;
	user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    color: #fff;
    background: #b30005 url('img/landing.svg') 0px/cover;
}
.button {
	border: 8px #2E40A4 solid;
	background-color: #fff;
    margin: 3px;
    cursor: pointer;
    width: calc(50% - 42px);
    color: #2E40A4;
    font-weight: 800;
	padding: 5vh 8px;
}
.button, header { display: inline-block }
main, body, html { width: 100% }
.button:not(.big) { font-size: 3.7vw}
@media screen and (orientation: portrait) { .button:not(.big) { font-size:6vw !important}}
@media screen and (orientation: portrait) { .big { font-size:12vw !important}}
.full { width: calc(100% - 42px) }
.big { font-size: 6vw; }
main {
	max-width: 800px;
	margin: auto;
}
.btn {
    border: 1px #3F51B5 solid;
    background-color: #2E40A4;
    margin: 2.5px 9px;
    border-radius: 6px;
    color: white;
    font-size: 24px;
    padding: 15px;
    width: calc(100% - 50px);
	position: absolute;
	bottom: 0px;
}
.btn:hover {
    background-color: #3F51B5;
    border: 1px #2E40A4 solid;
}
#battleground div, #characters div {
	margin: 0 2% 2% 2%;
	padding: 3% 0;
	font-size: 80%;
	background: #2E40A4;
	display: inline-block;
	cursor: pointer;
}
#battleground {
	border-bottom: 4px #fff solid;
}
#battleground div { width: 20% }
#characters div { width: 28% }
#characters div {
	border-radius: 50px
}
@media screen and (min-height: 540px) and (max-height: 599px) and (orientation: portrait) {
	main { max-width: 300px; }
}
@media screen and (min-height: 300px) and (max-height: 440px) and (orientation: landscape) {
    main { max-width: 70vw; }
}
@media screen and (min-height: 600px) and (max-width: 1024px) and (orientation: landscape) {
	main { max-width: 90vw; }
}
header {
	font-size: 45px;
	background-color: #b30005;
}
#backButton {
    left: 5px;
	top: 5px;
	position: absolute;
	height: 5vw
}
#select {
	display: none;
	position: absolute;
	top: 0; left: 0;
	background: #3F51B5;
	z-index: 5;
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 500px) { #characters div, #battleground div  {width: 40% !important; margin: 4% !important; }}
