@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
	margin: 0px;
	text-align: center;
	font-family: 'Syncopate', sans-serif;
	user-select: none;
    -webkit-user-select: none;
    overflow-x: hidden;
	color: #fff;
}
body, html, #mapDiv { height: 100% }
body, html, divider, header, #mapDiv { width: 100% }
#backButton, .button, #countries img, #freeplay a, #normal a { cursor: pointer }
#backButton, #legend, #mapDiv img:not(#legend) { position: absolute }
divider, .button, #countries img, #freeplay a, #normal a { display: inline-block }
#mapDiv, #mapDiv img:not(#legend) { display: none }
#mapDiv, body, html { background: #3F51B5 }
#freeplay a, #normal a, .button:hover { background: #2E40A4 }

divider { border: 1px #fff dashed }
.button {
	border: 1px #2E40A4 solid;
	margin: 2.5px 9px !important;
	border-radius: 3px;
    font-size: 16px;
    padding: 8px 15px;
    width: calc(100% - 50px);
}
.button:hover { border: 1px #3F51B5 solid }
header { height: 25px }
@media screen and (max-width: 500px) { #countries img, #freeplay a, #normal a  { width: 40% !important; margin: 4% !important; }}
#countries img, #freeplay a, #normal a {
	text-decoration: none;
	margin: 2%;
	width: 20%;
}
#freeplay a, #normal a {
	padding: 2.5% 0px;
	font-size: 70%;
}
#title { font-size: 30px }
#backButton {
    width: 37px;
	left: 0px;
}
#mapDiv {
   	position: fixed;
    top: 0px;
    left: 0px;
}
#legend {
	width: 150px;
	bottom: 0px;
	left: 0px;
	pointer-events: none;
}
#mapDiv img:not(#legend) {
	z-index: -1;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
@media screen and (orientation: landscape) {
	#mapDiv img:not(#legend) {
		height: calc(100% - 39px);
	}
}
@media screen and (orientation: portrait) {
	#mapDiv img:not(#legend) {
		width: 100%;
		top: 0;
	}
}
::-webkit-scrollbar { width: 0px }