@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
    background: url('img/wood.png') #654620;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
body, html, #confirmPopup footer, #unlockedPopup footer, #mainContainer, #content, #adContainer, #contentElement, #popupOverlay { width: 100% }
#content, #adContainer, #confirmPopup, #unlockedPopup, #confirmPopup footer, #unlockedPopup footer, #popupOverlay { position: absolute }
#confirmPopup h3, body, html { margin: 0 }
.button, header a, main section div { cursor: pointer }
#content, #adContainer, #popupOverlay { top: 0 }
#content, #adContainer, main .button, #popupOverlay { left: 0 }
#content, #adContainer, #mainContainer, #contentElement, body, html, #popupOverlay { height: 100% }
.button {
    border: 1px #2E40A4 solid;
    background-color: #3F51B5;
    display: inline-block;
    margin: 2.5px 9px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    width: calc(100% - 50px);
}
.button:hover {
    background-color: #2E40A4;
    border: 1px #3F51B5 solid;
}
header {
    font-size: 5vw;
    line-height: 5vw;
    padding: 5px;
    width: calc(100% - 10px);
    text-align: right;
    z-index: 5;
}
#coinsImg { height: 5vw;vertical-align: middle; }
@media screen and (min-width: 700px){ header{font-size:2.5vw} #coinsImg { height: 2.5vw }}
header div { display: inline-block }
#coins { background: #654620 }
#playButton {
	max-width: 350px;
    margin: auto;
    height: 50px;
	line-height: 50px;
	font-size: 25px;
}
#mainContainer {
    position: relative;
    display: none;
    background: #000;
}
#contentElement {
  overflow: hidden;
}
#mainContainer {
    z-index: 10;
}
#confirmPopup, #unlockedPopup {
    background-color: #FFF !important;
    box-shadow: 1px 1px 1px #2a2a2a;
    border-radius: 25px;
    z-index: 1;
    display: none;
}
#confirmPopup {
    height: 200px;
    width: 250px;
    top: calc(50% - 100px);
    left: calc(50% - 125px);
}
@media screen and (orientation: landscape) and (max-height: 500px) {
    #unlockedPopup {
        zoom: 80%;
        top: calc(50% - 125px) !important;
    }    
}
#unlockedPopup {
    height: 300px;
    width: 250px;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
}
#confirmPopup footer, #unlockedPopup footer { bottom: 5px }
#unlockedPopupImg { margin: 0px calc(50% - 62.5px); }
#confirmYesBtn, #confirmNoBtn {
    width: calc(42.5% - 30px) !important;
    margin: 1px calc(1% - 0.5px) !important;
}
#popupOverlay {
    background: #2a2a2a;
    opacity: 0.5;
    display: none;
}
header a {
    float: left;
    clear: both;
}
main .button {
    width: 100px;
    display: block;
    right: 0;
    margin: 5px auto;
}
main {
	overflow-y: scroll;
	height: calc(100% - 5vw - 73px);
	width: 100vw;
}
@media screen and (min-width:700px) { main{height: calc(100% - 2.5vw);}}
main section {
    clear: both;
    float: none;
    color: white;
}
main section div:last-child {
	margin-bottom: 25px;
}
main section div {
    border: 2px black solid;
    margin: 10px 5px;
    border-radius: 20px;
    padding: 5px;
    float: left;
    word-wrap: break-word;
    font-size: 16px;
    background: #563f22 no-repeat 100%/cover;
}
@media screen and (max-width: 500px) {
    main section div {
        width: calc(50vw - 24px);
        height: calc(50vw - 24px);
        line-height: calc(100vw - 60px);
        font-size: 12px;
    }
}
@media screen and (min-width: 501px) and (max-width: 750px) {
    main section div {
        width: calc(33vw - 24px);
        height: calc(33vw - 24px);
        line-height: calc(66vw - 60px);
    }
}
@media screen and (min-width: 751px) {
    main section div {
        width: calc(25vw - 24px);
        height: calc(25vw - 24px);
        line-height: calc(50vw - 60px);
    }
}
::-webkit-scrollbar { width: 0 }