@font-face {
  font-family: 'Syncopate';
  font-style: normal;
  font-weight: 400;
  src: local('Syncopate'), local('Syncopate-Regular'), url('syncopate.woff') format('woff');
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: url('img/wood.png');
    background-color: #563f22;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
.button {
    border: 1px #2E40A4 solid;
    background-color: #3F51B5;
    display: inline-block;
    margin: 2.5px 9px;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 8px 15px;
    cursor: pointer;
    width: calc(100% - 50px);
}
.button:hover {
    background-color: #2E40A4;
    border: 1px #3F51B5 solid;
}
header {
    font-size: 30px;
    line-height: 36px;
    vertical-align: middle;
    padding: 1px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: #563f22;
    width: 100%;
    text-align: right;
    z-index: 5;
}
header div { display: inline-block; }
header .button {
    width: 150px !important;
    text-align: center;
    padding: 0px;
    margin: 0px !important;
    height: 25px;
    line-height: 25px;
    position: relative;
    top: -5px;
}
#mainContainer {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

#content, #adContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#contentElement {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#mainContainer {
    z-index: 10;
}
#confirmPopup, #unlockedPopup {
    background-color: #FFF !important;
    box-shadow: 1px 1px 1px #2a2a2a;
    border-radius: 25px;
    z-index: 1;
    text-align: center;
    display: none;
    position: absolute;
}
#confirmPopup {
    height: 200px;
    width: 250px;
    top: calc(50% - 100px);
    left: calc(50% - 125px);
}
#unlockedPopup {
    height: 300px;
    width: 250px;
    top: calc(50% - 150px);
    left: calc(50% - 125px);
}
#confirmPopup footer, #unlockedPopup footer { position: absolute; bottom: 5px; width: 100%; }
#confirmPopup h3 { margin: 0px; }
#unlockedPopupImg { margin: 0px calc(50% - 62.5px); }
#confirmYesBtn, #confirmNoBtn {
    width: calc(42.5% - 30px) !important;
    margin: 1px calc(1% - 0.5px) !important;
}
#popupOverlay {
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    opacity: 0.25;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}