<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access 1 month"
</IfModule>
Redirect 307 /live /b
Redirect 307 /beta /b
Redirect 307 /alpha /b
Redirect 307 /a /b

Redirect 307 /ios https://appsto.re/us/OUwGib.i
Redirect 307 /android https://play.google.com/store/apps/details?id=com.playbclick.b_ocracy
Redirect 307 /chrome https://chrome.google.com/webstore/detail/b-ocracy/hpelangkikdpghambidlhegfjjhffmah
Redirect 307 /kongregate http://www.kongregate.com/games/gaftop/b-ocracy
Redirect 307 /itch.io https://satchmo.itch.io/bocracy
Redirect 307 /fb https://apps.facebook.com/1639840069651736/
Redirect 307 /betatest https://groups.google.com/d/forum/b-ocracy-beta-testers
Redirect 307 /wikia /wiki
Redirect 307 /wiki http://bocracy.wikia.com/
Redirect 307 /facebook https://fb.me/bOcracy
Redirect 307 /support mailto:team@bocracy.com
