@import "https://fonts.googleapis.com/css?family=Syncopate";
body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    background: #3F51B5;
    cursor: url(img/cur.png), default;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
.clear { clear: both }
red { color: red }
a { color: white }
@media screen and (min-height:351px), screen and (min-width:620px) {
    header { height: 50px!important; line-height: 50px!important }
    section { height: calc(100% - 50px) }
    #backButton, #refreshButton { width: 30px!important; margin-top: 10px!important }
    #title { font-size: 30px!important; margin-left: calc(50% - 120px)!important }
}
@media screen and (max-height: 310px) { #aSection, #bSection { zoom: 80%; }}
@media screen and (orientation:portrait) {
    #bSection, #aSection, #overlay { display: none }
    #portrait { display: block!important }
    .theSword { display: none!important }
    #overlay { display: none!important }
}
#portrait { display: none }
header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #3F51B5
}
#backButton, #refreshButton {
    width: 20px;
    margin-top: 5px;
    float: left
}
#refreshButton { float: right }
#title {
    font-size: 15px;
    float: left;
    margin-left: calc(50% - 75px)
}
section { width: 50%; height: calc(100% - 30px); float: left }
#bSection { background: #64DD17 }
#aSection { background: red }
#aButton, #bButton {
    width: 50%;
    padding: 25% 0px;
    margin-top: 25px;
    margin-left: 25%;
    background: #FFF;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    
}
#clickToStart {
    background-color: white;
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    top: calc(25% - 35px);
    font-size: 20px;
    width: 100%;
    position: relative;
    pointer-events: none;
}
#aButton { margin-top: -2px; }
#aHealth, #bHealth {
    width: 180px;
    height: 20px;
    margin: 0 calc(50% - 90px);
    background: #F44336;
    border: 4px #3F51B5 solid
}
#aHealth #aHealthBar, #bHealth #bHealthBar {
    width: 100%;
    height: 100%;
    background: #64DD17;
    transition: width 0.25s;
}
#aName, #bName { font-size: 25px; margin: 5px 0 }
#popup {
    display: none;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    width: 200px;
    height: 200px
}
#overlay {
    display: none;
    background: #3F51B5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}
#overlay div:not(#restartText) {
    top: calc(50% - 80px);
    font-size: 50px;
    width: 100%;
    position: absolute;
    color: white;
}
#restartText {
    font-size: 40px;
    background: #2E40A4;
    border-radius: 20px;
    margin: 10px calc(5% - 2px);
    width: 90%;
    border: 4px white solid;
    text-align: center;
    color: white;
}
.theSword {
    display: none;
    position: absolute;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s
}
#bSword { left: calc(75% - 125px); top: 125px }
#aSword {
    left: calc(25% + 125px); top: 75px;
    transform: rotate(180deg)
}
@keyframes bSword { from { left: calc(50% - 50px) } to { left: calc(50% + 50px) } }
@-webkit-keyframes aSword { from { left: calc(50% - 50px) } to { left: calc(50% + 50px) } }
@keyframes aSword { from { left: calc(50% + 50px) } to { left: calc(50% - 50px) }}
@-webkit-keyframes aSword { from { left: calc(50% + 50px) } to { left: calc(50% - 50px) }}
#rotate { height: 200px; width: 178px; left: calc(50% - 89px) }