@import "https://fonts.googleapis.com/css?family=Syncopate";
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #3F51B5;
    cursor: url(img/cur.png), default;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}

.clear { clear: both }
red { color: red }
green { color: #64DD17 }
a { color: #88F }

@media screen and (orientation:landscape) {
    #bSection, #aSection, #overlay { display: none }
    #landscape { display: block !important }
    .theSword { display: none!important }
    #overlay { display: none!important }
}

#landscape { display: none }

header {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #3F51B5
}

#backButton,
#refreshButton {
    width: 20px;
    margin-top: 5px;
    float: left
}

#refreshButton {
    float: right
}

#title {
    font-size: 15px;
    float: left;
    margin-left: calc(50% - 75px)
}

section {
    width: 100%;
    height: calc(50% - 15px);
    float: left
}

#bSection {
    background: #64DD17;
    transform: rotate(180deg)
}

#aSection {
    background: red
}

#aButton,
#bButton {
    width: 75px;
    height: 75px;
    margin-top: 25px;
    margin-left: calc(50% - 37.5px);
    background: #FFF;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    transform: rotate(180deg)
}

#aHealth,
#bHealth {
    width: 180px;
    height: 20px;
    margin: 0 calc(50% - 90px);
    background: #F44336;
    border: 4px #3F51B5 solid
}

#aHealth #aHealthBar,
#bHealth #bHealthBar {
    width: 100%;
    height: 100%;
    background: #64DD17
}

#aName,
#bName {
    font-size: 25px;
    margin: 5px 0
}

#aActions,
#bActions {
    width: 250px;
    height: 50px;
    margin: 20px calc(50% - 125px)
}

#aActions div:not(.clear),
#bActions div:not(.clear) {
    width: 115px;
    height: 50px;
    background: #3F51B5;
    border-radius: 80px;
    margin: 0 5px;
    float: left;
    line-height: 50px;
    vertical-align: middle;
    text-align: center
}

#overlay {
    display: none;
    background: #3F51B5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#overlay div {
    top: calc(50% - 80px);
    font-size: 400%;
    width: 100%;
    position: absolute;
}

#overlay p {
    font-size: 20px;
}

.theSword {
    display: none;
    position: absolute;
    background-image: url(img/sword.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 50px;
    animation-duration: 0.1s;
    -webkit-animation-duration: 0.1s
}

#bSword {
    left: 25px;
    top: 225px;
    transform: rotate(90deg)
}

#aSword {
    right: 25px;
    bottom: 195px;
    transform: rotate(-90deg)
}

@keyframes bSword {
    from {
        top: 225px
    }
    to {
        top: calc(100% - 195px)
    }
}

@-webkit-keyframes bSword {
    from {
        top: 225px
    }
    to {
        top: calc(100% - 195px)
    }
}

@keyframes aSword {
    from {
        bottom: 225px
    }
    to {
        bottom: calc(100% - 195px)
    }
}

@-webkit-keyframes aSword {
    from {
        bottom: 225px
    }
    to {
        bottom: calc(100% - 195px)
    }
}

#rotate {
    height: 100px;
    width: 89px;
    left: calc(50% - 44.5px);
    position: absolute;
    display: none
}

#computer,
#rotateInstructions {
    display: none
}