@font-face {
  font-family: s;
  src: url('../global/syncopate.woff') format('woff');
}
body, html {
    background: url('http://blib.tk/boc/bg/wood.svg') #654620;
    text-align: center;
    font-family: s, sans-serif;
    user-select: none;
    -webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
    overflow: hidden;
    -webkit-touch-callout: none;
}
body, html, #confirmPopup footer, #unlockedPopup footer, #mainContainer, #content, #adContainer, #contentElement, #popupOverlay { width: 100% }
#content, #adContainer, #confirmPopup, #unlockedPopup, #confirmPopup footer, #unlockedPopup footer, #popupOverlay { position: absolute }
#confirmPopup h3, body, html { margin: 0 }
.button, header a, main section div { cursor: pointer }
#content, #adContainer, #popupOverlay { top: 0 }
#content, #adContainer, main .button, #popupOverlay { left: 0 }
#content, #adContainer, #mainContainer, #contentElement, body, html, #popupOverlay { height: 100% }
.button {
    border: 1px #2E40A4 solid;
    background: #3F51B5;
    display: inline-block;
    margin: 2.5px 9px;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    width: calc(100% - 50px);
}
.button:hover {
    background: #2E40A4;
    border: 1px #3F51B5 solid;
}
header {
    height: 30px;
    font-size: 30px;
    padding: 5px;
    width: calc(100% - 10px);
    text-align: right;
    white-space: pre;
}
header div { display: inline-block }
#redbacks {
    vertical-align: top;
    color: #fff;
}
#backButton {
    top: 5px;
    left: 0;
    position: absolute;
}
#redbacksImg, #backButton { height: 30px }
#playButton {
	width: 175px;
    margin: auto;
    text-align: center;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    position: absolute;
    top: 5px;
    left: calc(50% - 96.5px);
}
#mainContainer {
    position: relative;
    display: none;
    background: #000;
}
#contentElement {
  overflow: hidden;
}
#mainContainer {
    z-index: 10;
}
main {
	overflow-y: scroll;
	height: calc(100% - 50px);
	width: 100vw;
	bottom: 0;
	position: absolute;
}
main section {
    clear: both;
    float: none;
    color: white;
    margin-bottom: 15px;
}
main section div {
    border: 2px #fff solid;
    margin: 5px;
    border-radius: 22%;
    padding: 5px;
    display: inline-block;
    background: #563f22 no-repeat 100%/cover;
}
main section h1 {
	margin: 0;
    font-size: 1.5em;
}
@media screen and (max-width: 400px) {
    main section div {
        width: calc(33vw - 24px);
        height: calc(33vw - 24px);
    }
    #playButton { display: none }
}
@media screen and (min-width: 401px) {
    main section div {
        width: calc(16.6666vw - 24px);
        height: calc(16.6666vw - 24px);
    }
}
::-webkit-scrollbar { width: 0 }
#confirmPopup, #unlockedPopup {
    background-color: #FFF !important;
    border-radius: 25px;
    z-index: 1;
    display: none;
}
#confirmPopup {
    height: 200px;
    width: 250px;
    top: calc(50% - 160px);
    left: calc(50% - 125px);
}
@media screen and (orientation: landscape) and (max-height: 500px) {
    #unlockedPopup {
        zoom: 70%;
		top: calc(50% - 168px);
    }
    #confirmPopup { zoom: 80% }
}
#unlockedPopup {
    width: 250px;
    left: calc(50% - 125px);
}
#confirmPopup footer, #unlockedPopup footer { bottom: 5px }
#unlockedPopupImg { margin: 0px calc(50% - 62.5px); }
#confirmYesBtn, #confirmNoBtn {
    width: calc(42.5% - 30px) !important;
    margin: 1px calc(1% - 0.5px) !important;
}
#confirmPopup p, #unlockedPopup p {
	font-size: 90%;
	color: #555;
}
#popupOverlay {
    background: #2a2a2a;
    opacity: 0.5;
    display: none;
}
#confirmPopup:before, #unlockedPopup:before {
  content:"";
  position:absolute;
  bottom:-30px;
  right:40px;
  border-width:0 0 30px 50px;
  border-style:solid;
  border-color:transparent #fff;
  display:block;
  width:0;
}
#confirmPopup:after, #unlockedPopup:after {
	content: '';
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: -110px;
	right: 100px;
    border-radius: 22%;
	background: #fff url('http://blib.tk/boc/img/merchant.svg') no-repeat 100%/cover;
}
#unlockedAll {
    color: #fff;
    margin: 10vh 0
}