body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	background: #3F51B5;
	text-align: center;
	font-family: sans-serif;
	overflow: hidden;
	font-size: 20px;
	font-weight: 200;
	color: #fff;
}
div {
	background: #fff;
	border-radius: 3px;
    color: #3F51B5;
    padding: 2%;
    user-select: none;
    cursor: pointer;
    width: 90%;
    position: fixed;
    top: 5px;
    left: 3%;
}
d {
	width: 100%;
	border: 1px white dashed;
	display: inline-block;
	height: 0;
}
st {
	height: calc(100% - 4vw - 40px);
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	word-wrap: break-word;
}
::-webkit-scrollbar { width: 0 }