body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #3F51B5;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    overflow-y: scroll
}
ar {
    font-size: 80%;
    font-weight: 200;
    display: block;
    margin-top: 2px;
}
header div {
    background: #fff;
    margin: auto;
    border-radius: 3px;
    padding: 8px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    color: #2E40A4;
}
d {
    display: block;
    border: 1px dashed;
    width: 120px;
    margin: 10px auto;
    height: 0;
}
header {
    width: 100%;
    position: absolute;
    background: #3F51B5;
    padding-bottom: 10px;
}
header ~ div {
    background: #2E40A4;
    margin: 8px 5%;
    padding: 2% 5%;
}
div { width: 80% }
header + div { margin-top: 100px !important }
a { color: #fff }
h1 { margin: 5px }
::-webkit-scrollbar { width: 0 }
