@font-face {
  font-family: s;
  src: url('../global/syncopate.woff') format('woff');
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #3F51B5;
    text-align: center;
    font-family: s, sans-serif;
	-webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
}
.clear { clear: both }
@media screen and (orientation:landscape) {	
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
#backButton {
    width: 30px;
	top: 5px;
    position: absolute;
	z-index: 10;
	left: 5px;
}
section {
    width: 100%;
    height: 50%;
    float: left;
	z-index: 5;
	position: relative;
}
@media screen and (max-height: 567px) {
    #aSection, #bSection {
        zoom: 80%;
    }
}
#bSection {
	background-color: #64DD17;
    transform: rotate(180deg);
}
#background {
	background-position: 50% 100%;
	background-size: 300%;
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0; left: 0;
	z-index: 0
}
#aSection { background-color: #b30005 }
#aButton,
#bButton {
    width: 75px;
    height: 75px;
    margin-top: 25px;
    margin-left: calc(50% - 37.5px);
    background: #FFF 100%/cover no-repeat;
    transform: rotate(180deg)
}
#aHealth,
#bHealth {
    width: 180px;
    height: 20px;
    margin: 0 calc(50% - 90px);
    background: #F44336;
    border: 4px #000 solid;
	position: relative;
}
#aHealthBar, #bHealthBar {
    width: 100%;
    height: 100%;
    background: #64DD17;
    transition: width 0.25s;
	position: absolute;
}
#aName, #bName { margin: 5px 0;font-weight:900;display:inline-block;padding:4px }
#aName { background:#b30005}
#bName { background:#64DD17}
#aHealth p, #bHealth p {
	position: relative;
    margin: 0;
    top:  0;
    line-height: 22px;
	font-weight: 900;
}
#aActions,
#bActions {
    width: 250px;
    height: 50px;
    margin: 20px calc(50% - 125px)
}
#aActions div:not(.clear),
#bActions div:not(.clear) {
    width: 110px;
    height: 50px;
    background: #3F51B5;
    border-radius: 80px;
    margin: 0 5px;
    float: left;
    line-height: 50px;
    color: white;
	border: 1px #2E40A4 solid;
}
#aActions div:not(.clear):active,
#bActions div:not(.clear):active {
    background-color: #2E40A4;
    border: 1px #3F51B5 solid;
	width: 99px;
    height: 45px;
	margin: 2.5px 10.5px;
	line-height: 45px;
}
@media screen and (orientation: landscape) {
	#overlay {
		width: 100vw;
		height: 100vh;
	}
	#overlayText div:first-child {
    margin-top: calc(50vh - 50px);
}
}
@media screen and (orientation: portrait) {
	#overlayText div:first-child {
    margin-top: calc(50vw - 50px);
}
	#overlay {
		width: 100vh;
		height: 100vw;
	}
}
#overlay {
	transform: rotate(90deg);
	transform-origin: left top;
	top: 0;
	left: 100%;
    display: none;
    background: #3F51B5;
    color: white;
	z-index: 200;
	position: absolute;
}
#overlay * { left: 0 }
#overlay div:not(#restartText) { width: 100% }
#overlayText div:first-child { font-size: 100px }
#restartText {
    line-height: 40px;
	background: #42bb05;
    margin: 2.5px 9px;
    border-radius: 6px;
    color: #fff;
    font-size: 40px;
    padding: 15px;
    width: calc(100% - 50px);
	position: absolute;
	bottom: 10px;
	cursor: pointer;
}
#restartText:hover { background-color: #53CC16 }
@media screen and (max-height: 450px) {
    #overlay div { font-size: 32px !important; }
    #overlayText div { font-size: 75px !important; }
}
.theSword {
    display: none;
    position: absolute;
    background: url(img/sword.png) 100%/cover no-repeat;
    width: 100px;
    height: 50px;
    animation-duration: 0.1s;
}
#bSword {
    left: -10px;
    top: 225px;
    transform: rotate(90deg)
}
#aSword {
    right: -10px;
    bottom: 195px;
    transform: rotate(-90deg)
}
@keyframes bSword {
    from { top: 225px }
    to { top: calc(100% - 195px) }
}
@keyframes aSword {
    from { bottom: 225px }
    to { bottom: calc(100% - 195px) }
}
