@font-face {
  font-family: s;
  src: url('../global/syncopate.woff') format('woff');
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    background: #3F51B5;
    text-align: center;
    font-family: s, sans-serif;
	-webkit-tap-highlight-color: transparent;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-touch-callout: none;
}
@media screen and (orientation:portrait) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		height: 100vw;
		position: absolute;
		top: 100%;
		left: 0;
	}
	#bButton, #aButton { margin-top: 15vw }
	#clickToStart { top: 15vw }
	#overlay img, #overlayStats span {
		height: calc(20vw - 4px);
		width: calc(20vw - 4px);
		border-radius: 10vw;
		line-height: 20vw;
	}
	#overlay h5 {
		margin-right: 10vw;
		font-size: 5vw;
	}
	.theSword {
		width: 23vw;
		height: 13vw;
	}
	#bSword { top: 45vw }
	#aSword { top: 20vw }
	#aHealth, #bHealth {
		width: 40vw;
		height: 5vw;
		border: 1vw #000 solid;
	}
	#aHealth p, #bHealth p {
	    font-size: 4vw;
	    line-height: 5.4vw;
	    height: 5vw;
	}
	#present {
		line-height: 100vw;
		font-size: 16vw;
	}
	#clickToStart {
		font-size: 5vw;
    	padding: 20vw 0;
    	line-height: 5vw;
	}
	#bButton, #aButton, #clickToStart {
		width: 50vw;
		margin-left: calc(50% - 25vw);
	}
	#bButton, #aButton { height: 50vw }
}
@media screen and (orientation:landscape) {
	#bButton, #aButton { margin-top: 15vh }
	#clickToStart { top: 15vh }
	#overlay img, #overlayStats span {
		height: calc(20vh - 4px);
		width: calc(20vh - 4px);
		border-radius: 10vh;
		line-height: 20vh;
	}
	#overlay h5 {
		margin-right: 10vh;
		font-size: 5vh;
	}
	.theSword {
		width: 23vh;
		height: 13vh;
	}
	#bSword { top: 45vh }
	#aSword { top: 20vh }
	#aHealth, #bHealth {
		width: 40vh;
		height: 5vh;
		border: 1vh #000 solid;
	}
	#aHealth p, #bHealth p {
	    font-size: 4vh;
	    line-height: 5.4vh;
	    height: 5vh;
	}
	#present {
		line-height: 100vh;
		font-size: 16vh;
	}
	#clickToStart {
		font-size: 5vh;
    	padding: 20vh 0;
    	line-height: 5vh;
	}
	#bButton, #aButton, #clickToStart {
		width: 50vh;
		margin-left: calc(50% - 25vh);
	}
	#bButton, #aButton { height: 50vh }
}
.clear { clear: both }
@media screen and (max-height: 500px) {
	#aButton,#bButton{margin-top:50px!important}
	#clickToStart{top:50px!important}
}
#present {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	vertical-align: middle;
	display: none;
	color: #fff;
	text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
	animation: p linear 3s;
	font-weight: 900;
}
@keyframes p { 100% { background-size: 120% } }
#backButton, #refreshButton {
    width: 30px;
    margin-top: 5px;
	position: absolute;
	top: 0;
	z-index: 4;
	cursor: pointer;
}
#refreshButton { right: 2px }
#backButton { left: 2px }
section {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	background-size: 300%;
	background-repeat: no-repeat;
	transition:background-position 1s
}
#bSection {
	background-color: #64DD17;
	background-position: 0% 80%
}
#aSection {
	background-color: #b30005;
	background-position: 50% 80%
}
#aButton, #bButton { background: #fff 100%/cover no-repeat }
#aButton { transform: scaleX(-1) }
#clickToStart {
    position: absolute;
    opacity: 0.5;
    background: #000;
    color: #fff;
    font-weight: 800;
}
#aHealth, #bHealth {
	margin: auto;
	background: #b30005;
	position: relative;
}
#aHealthBar, #bHealthBar {
    width: 100%;
    height: 100%;
    background: #64DD17;
    transition: width 0.25s;
	position: absolute;
}
#aHealth p, #bHealth p {
	position: relative;
    margin: 0;
    top: 0;
    vertical-align: middle;
    font-weight: 900;
}
#aName, #bName {
	margin: 5px 0;
	font-weight:900;
	display:inline-block;
	padding:4px;
}
#aName { background:#b30005}
#bName { background:#64DD17}
#overlay {
    display: none;
    background: #3F51B5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
	z-index: 6;
}
#overlay img, #overlayStats span {
    margin: 5px 0px;
	display: block;
	border: 2px #fff solid;
}
#overlay h5 {
    height: 26.56px;
	display: inline-block;
}
#overlayStats h5:last-child { margin-right: 0 }
#overlay div:not(#restartText) { width: 100% }
#overlayText div:first-child {
    font-size: 100px;
    margin-top: 10px;
}
#restartText {
    line-height: 40px;
    margin: 2.5px 9px;
    border-radius: 6px;
    color: #fff;
    font-size: 40px;
    padding: 15px;
    width: calc(100% - 50px);
	position: absolute;
	bottom: 10px;
	cursor: pointer;
	animation: f 1s;
}
@keyframes f { 0% { opacity: 0 } }
@media screen and (max-height: 450px) {
    #overlay div:not(#overlayStats) { font-size: 32px !important; }
    #overlayText div:not(#overlayStats) { font-size: 75px !important; }
}
@keyframes flash { 50% { opacity: 0 } }
#lowHealthOverlay {
	opacity: .7;
	animation: flash infinite 1s;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	display: none;
	background: #b30005;
	pointer-events: none;
}
.theSword {
    display: none;
    position: absolute;
    background: 100%/cover no-repeat;
    animation-duration: 150ms;
}
#bSword { left: calc(75% - 125px)}
#aSword {
    left: calc(25% + 125px);
    transform: rotate(180deg)
}
@keyframes bSword { from { left: calc(50% - 50px) } to { left: calc(50% + 50px) } }
@keyframes aSword { from { left: calc(50% + 50px) } to { left: calc(50% - 50px) }}
